body {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    margin: 0.9em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
 footer {
    color: #7D7B85;
    position: absolute;
    bottom: 0;
    width: 100%; /*div doesn't take up all the available horizontal space when absolutely positioned*/
 }
 a {
    color: #2D58FE;
 }
