* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    background-image: url('../img/art-canvas.jpg');
    background-size : cover;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 46px;
    margin: 0.7em;
}

h2 {
    margin: 0.45em;
}

tr,
td {
    border: 1px solid black;
    background-color: white;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

td:hover {
    cursor: pointer;
}

input[type=submit], input[type=color], input[type=button]{
    border: none;
    height: 2.5em;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle
}

input[type=submit]:hover, input[type=color]:hover, input[type=button]:hover{
    border: 1px solid grey;
}

input[type=number] {
    padding: 0.4em;
    width: 4em;
    border-radius: 4px;
}

 footer {
    color: #7D7B85;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    width: 100%; /*div doesn't take up all the available horizontal space when absolutely positioned*/
 }